<!--open new ticket form-->
<div class="scrollable" style="margin-top:15px">
    <h3>פתיחת פניה חדשה</h3>
    <style>
        .newticketform legend{
            border-bottom:0;
            padding-right:15px;
        }
    </style>
    <form class="form-horizontal newticketform">
        <div class="row">
            <legend>פרטי עובד</legend>
            <div ng-show="currentUser.Permission==1">
                <label>פרטים אישיים - משתמש</label>
            </div>
            <div ng-show="currentUser.Permission>1">
                <label>פרטים אישיים - עובד</label>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">שם מלא:</label>
                <div class="col-lg-3">
                    <input class="form-control" id="inputname" ng-value="currentUser.DisplayName" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">מחלקה:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" ng-value="getDepartment(currentUser.Department)" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">מייל:</label>
                <div class="col-lg-3">
                    <input type="email" class="form-control" ng-value="currentUser.EmailAddress" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">טלפון:</label>
                <div class="col-lg-3">
                    <input class="form-control" id="tel" ng-value="currentUser.TelephoneNumber" disabled>
                </div>
            </div>

        </div>
        <div class="row">
            <legend>פרטי פניה</legend>
            <div class="form-group">
                <label class="col-lg-1 control-label">תחום:</label>
                <div class="col-lg-3">
                    <select class="form-control" 
                            data-ng-options="x.Id as x.DomainName for x in data.Domain | orderBy: 'DomainName'" 
                            data-ng-model="selectedTicket.DomainID" required>
                        <option value="">-- בחר תחום --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">קטגוריה:</label>
                <div class="col-lg-3">
                    <select class="form-control" id="categorytype"
                            data-ng-options="x.Id as x.CategoryName for x in data.Category | filter: categoryFilter | orderBy: 'CategoryName'" 
                            data-ng-model="selectedTicket.CategoryID" data-ng-disabled="selectedTicket.DomainID==0" required>
                        <option value="">-- בחר קטגוריה --</option>
                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-if="selectedTicket.DomainID==1">
                <label class="col-lg-1 control-label">מבנה:</label>
                <div class="col-lg-3">
                    <select class="form-control" id="categorytype"
                            data-ng-options="x.Id as getLocationName(x,true) for x in data.Location | orderBy: 'Id'"
                            data-ng-model="selectedTicket.LocationID" required>
                        <option value="">-- בחר מבנה --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox" data-ng-show="currentUser.Permission == 1">
                    <label data-ng-model="selectedTicket.Priority">האם הפניה קריטית?<input type="checkbox"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">תיאור הפניה:</label>
                <div class="col-lg-6">
                    <textarea data-ng-model="selectedTicket.Description" class="form-control" rows="4" i placeholder="כתוב כאן..." required></textarea>
                </div>
            </div>
            <div class="form-group" data-ng-show="currentUser.Permission <4">
                <label class="col-lg-1 control-label">תאריך לביצוע:</label>
                <div class="col-lg-3">
                    <div class="input-group"
                         data-moment-picker="selectedTicket.Date"
                         data-locale="he"
                         data-start-view="day"
                         min-date="moment().format('DD-MM-YYYY')"
                         data-format="DD-MM-YYYY">
                        <span class="input-group-addon">
                            <i class="icon ion-calendar"></i>
                        </span>
                        <input class="form-control inp-d"
                               placeholder="בחר תאריך"
                               data-ng-model="selectedTicket.Date"
                               data-ng-model-options="{ updateOn: 'blur' }" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-lg-offset-3"><a href="#" class="btn btn-success" data-ng-click="addNewTicket()">שלח</a></div>
        </div>
    </form>
</div>
