<div class="container">
    <div data-ng-if="isHomeTab()">
        <ul class="nav nav-tabs">
            <li><a data-target="#newTicket" data-toggle="tab" data-ng-click="setPage('createTicket')"><i class="icon ion-ios-plus-outline"></i> פניה חדשה</a></li>
            <li class="active"><a data-target="#myTickets" data-toggle="tab" data-ng-click="setPage('MyTicket')">הפניות שלי</a></li>
            <li data-ng-if="currentUser.Permission!=1"><a data-target="#ticketsToDo" data-toggle="tab" data-ng-click="setPage('TicketsToDo')">פניות לטיפול</a></li>
            <li data-ng-if="currentUser.Permission!=1"><a data-target="#search" data-toggle="tab" data-ng-click="setPage('Search')"><i class="icon ion-ios-search"></i> חיפוש</a></li>
        </ul>
        <div id="newTicket" data-ng-if="currentPage=='createTicket'" data-ng-include="'Pages/CreateTicket.htm'"></div>
        <div id="myTickets" data-ng-if="currentPage=='MyTicket'" data-ng-include="'Pages/MyTicket.html'"></div>
        <div id="ticketsToDo" data-ng-if="currentPage=='TicketsToDo'" data-ng-include="'Pages/TicketsToDo.htm'"></div>
        <div id="search" data-ng-if="currentPage=='Search'" data-ng-include="'Pages/Search.htm'"></div>
    </div>
    <div data-ng-if="currentPage=='Reports'" data-ng-include="'Pages/Reports.htm'"></div>
    <div data-ng-if="currentPage=='ManageUsers'" data-ng-include="'Pages/ManageUsers.htm'"></div>
</div>