<div id="divToPrint">
    <h3>הפקת דוחות</h3>
    <form class="form-horizontal" style="margin-top:20px" data-ng-submit="generateReport()">
        <div class="form-group">
            <label class="control-label col-lg-1">סוג דו"ח:</label>
            <div class="col-lg-6">
                <select class="form-control" data-ng-model="toProduce.Type"
                        data-ng-options="o.Id as o.Name for o in reportsList | filter: reportFilter">
                    <option value="">בחר</option>
                </select>            
            </div>
        </div>
        <div class="form-group" data-ng-if="toProduce.Type==3">
            <label class="control-label col-lg-1">עובד:</label>
            <div class="col-lg-3">
                <select class="form-control" data-ng-model="toProduce.User"
                        data-ng-options="o.Id as o.DisplayName for o in data.User | filter: isUserInManagerDomain">
                    <option value="">בחר</option>
                </select>
            </div>
        </div>
        <div class="form-group" data-ng-if="toProduce.Type==4">
            <label class="control-label col-lg-1">מבנה:</label>
            <div class="col-lg-3">
                <select class="form-control" data-ng-model="toProduce.Building">
                    <option value="">בחר</option>
                    <option value="M">M</option>
                    <option value="EM">EM</option>
                    <option value="L">L</option>
                </select>
            </div>
        </div>
        <div class="form-group" data-ng-if="toProduce.Type==5">
            <label class="control-label col-lg-1">קטגוריה:</label>
            <div class="col-lg-3">
                <select class="form-control" data-ng-model="toProduce.Category"
                        data-ng-options="o.Id as o.CategoryName for o in data.Category">
                    <option value="">בחר</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-1">מתאריך:</label>
            <div class="col-lg-3">
                <div class="input-group"
                     data-moment-picker="toProduce.From"
                     data-locale="he"
                     data-start-view="day"
                     data-format="DD-MM-YYYY">
                    <span class="input-group-addon">
                        <i class="icon ion-calendar"></i>
                    </span>
                    <input class="form-control inp-d"
                           placeholder="בחר תאריך"
                           data-ng-model="toProduce.From"
                           data-ng-model-options="{ updateOn: 'blur' }" />
                </div>
            </div>
            <label class="control-label col-lg-1">לתאריך:</label>
            <div class="col-lg-3">
                <div class="input-group"
                     data-moment-picker="toProduce.To"
                     data-locale="he"
                     data-start-view="day"
                     data-format="DD-MM-YYYY">
                    <span class="input-group-addon">
                        <i class="icon ion-calendar"></i>
                    </span>
                    <input class="form-control inp-d"
                           placeholder="בחר תאריך"
                           data-ng-model="toProduce.To"
                           data-ng-model-options="{ updateOn: 'blur' }" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3">
                <button type="submit" class="btn btn-success"><span class="ion-clipboard" style="font-size: 15px"></span>הפק דו"ח</button>
                <button type="reset" class="btn btn-info" data-ng-click="resetReport()"><span class="ion-refresh" style="font-size: 15px"></span>&nbspאפס </button>
            </div>
        </div>
    </form>

    <div id="chartContainer" style="max-width: 660px;
	margin: auto;
	height: 400px;
	margin: 0 auto;"></div>


</div>