<div data-ng-if="!editMode">
    <div class="row">
        <div class="form-group">
            <input class="form-control"
                   data-ng-model="search.Text" data-ng-dblclick="setAdvancedMode(!search.Advanced)"
                   placeholder="{{getSearchPlaceholder()}}" title="Movies search input" data-ng-if="!editMode" />
        </div>
    </div>
    <div class="row" data-ng-if="search.Advanced">
        <div class="form-group">
            <div class="col-md-2 col-lg-2" style="margin-top:0px" data-ng-repeat="sv in advancedSearchValues">
                <div class="checkbox" style="margin-top:0px;margin-bottom:0px;">
                    <label>
                        <input type="checkbox" data-ng-model="search[sv.Data]"> <span data-ng-bind="sv.Title"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-xs-12">
        <h1 data-ng-bind="getPageHeading()"></h1>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12" style="margin-top:20px;text-align:right">
        <a href="#" prevent-default class="btn btn-primary" data-ng-click="setEditMode(true)" data-ng-if="currentPage==1 && currentUser.Admin && !editMode && selectedMovie.Id>0">Edit Movie</a>
        <a href="#" prevent-default class="btn btn-default" data-ng-click="setEditMode(false)" data-ng-if="currentPage==1 && currentUser.Admin && editMode">Cancel</a>
        <a href="#" prevent-default class="btn btn-danger" data-ng-click="delMovie()" data-ng-if="currentPage==1 && currentUser.Admin && editMode && selectedMovie.Id>0">Delete Movie</a>
        <a href="#" prevent-default class="btn btn-success" data-ng-click="saveChanges()" data-ng-if="currentPage==1 && currentUser.Admin && editMode ">Save Movie</a>
        <a href="#" prevent-default class="btn btn-success" data-ng-click="setNewMovie()" data-ng-if="currentPage==2 && currentUser.Admin && !editMode">New Movie</a>
        <a href="#" prevent-default class="btn btn-warning" data-ng-click="returnMovie()" data-ng-if="!isUserFreeToRent() && !editMode">Stop Rental</a>
        <a href="#" prevent-default class="btn btn-success" data-ng-click="rentMovie(selectedMovie.Id)" data-ng-if="currentPage == 1 && isMovieCanBeRented(movie) && !editMode">Rent It</a>
    </div>
</div>
<div data-ng-show="currentPage == 1 && search.Text.length == 0" data-ng-include="'inc/movie.html'"></div>
<div data-ng-controller="TableController" data-ng-show="search.Text.length > 0 || currentPage == 2" data-ng-include="'inc/table.html'"></div>