<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-5 col-sm-offset-3 col-sm-6 col-sm-offset-2">
        <div class="panel panel-primary" data-ng-if="!forgotView">
            <div class="panel-heading"> 
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form name="loginForm" class="form-horizontal" data-ng-submit="sendLogin(loginForm.$valid)" novalidate>
                    <div class="form-group" 
                         data-ng-class="{'has-error':loginForm.userIdInput.$invalid && loginForm.userIdInput.$dirty}">
                        <label for="inputId" class="col-lg-3 control-label">ID</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="inputId" name="userIdInput" data-ng-model="userInput.userId"
                                   data-ng-minlength="9" data-ng-maxlength="9" data-ng-pattern="/^[0-9]*$/" required
                                   placeholder="9 digits identity number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="inputPassword" data-ng-model="userInput.password" 
                                   required placeholder="Your password">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:0">
                        <div class="col-lg-9 col-lg-offset-3">
                            <a href="#" class="help-block" data-ng-click="setForgotView(true)">Forgot password ?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary" data-ng-disabled="!loginForm.$valid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div data-ng-if="forgotView" data-ng-include="'inc/forgot.html'"></div>