<div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><strong data-ng-bind="selectedMovie.Name"></strong></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-5">
                    <div data-ng-if="!selectedMovie.HasPoster" ngf-drop ngf-select ng-model="uploadedImg" class="drop-box"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                         accept="image/*,application/pdf"
                         ngf-pattern="'image/*,application/pdf'">גרור לפה תמונה מסוג jpeg/jpg בלבד</div>
                    <div ngf-no-file-drop>התמונה לא נתמכת</div>
                    <img class="img-responsive" data-ng-if="selectedMovie.HasPoster" data-ng-src="posters/{{selectedMovie.Id}}.jpg" />
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <div class="row">
                        <div class="form-group" style="padding-right:15px">
                            <label class="control-label">Actors:</label>
                            <div data-ng-if="!editMode">
                                <div data-ng-repeat="ma in data.MovieActor | filter:{MovieID: selectedMovie.Id}" style="display:inline-block">
                                    <div data-ng-bind="$last? getActorName(ma.ActorID) : getActorName(ma.ActorID)+' , '"></div>
                                </div>
                            </div>
                            <div data-ng-if="editMode">
                                <ui-select multiple ng-model="selectedMovie.Actors" theme="bootstrap" sortable="true" close-on-select="false">
                                    <ui-select-match placeholder="Select actors..">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="ma in data.Actor | propsFilter: {Name: $select.search}">
                                        <div ng-bind-html="ma.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" style="padding-right:15px">
                            <label class="control-label">Director:  </label>
                            <div data-ng-bind="getDirector(selectedMovie.Director)" data-ng-if="!editMode"></div>
                            <div data-ng-if="editMode">
                                <select class="form-control" data-ng-model="selectedMovie.Director"
                                        data-ng-options="o.Id as o.Name for o in data.Director  | orderBy: 'Name'">
                                    <option value="">Select director...</option>
                                </select>    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" style="padding-right:15px">
                            <label class="control-label">Genre:  </label>
                            <div data-ng-bind="getGenre(selectedMovie.Genre)" data-ng-if="!editMode"></div>
                            <div data-ng-if="editMode">
                                <select class="form-control" data-ng-model="selectedMovie.Genre"
                                        data-ng-options="o.Id as o.Name for o in data.Genre  | orderBy: 'Name'">
                                    <option value="">Select genre...</option>
                                </select>                            
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right:15px">
                        <div class="form-group">
                            <label class="control-label">Year:  </label>
                            <div data-ng-bind="selectedMovie.Year" data-ng-if="!editMode"></div>
                            <div data-ng-if="editMode">
                                <input class="form-control" type="number" data-ng-model="selectedMovie.Year" min="1990" max="{{getCurrentYearAsNum()}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label">Plot:</label>
                        <div data-ng-bind="selectedMovie.Plot" data-ng-if="!editMode"></div>
                        <div data-ng-if="editMode">
                            <textarea class="form-control" rows="3" data-ng-model="selectedMovie.Plot"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


