<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <h1><strong data-ng-bind="selectedMovie.Name"></strong></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-5 col-lg-5">
        <img style="width:100%" data-ng-src="'posters/'+selectedMovie.Id+'.jpg'" />
    </div>
    <div class="col-xs-12 col-sm-7 col-lg-7">
        <div class="row">
            <div class="form-group">
                <label class="control-label">Actors:</label>
                <div data-ng-repeat="ma in data.MovieActor | filter:{MovieID: selectedMovie.Id}">
                    <div data-ng-if="ma.MainActor" data-ng-bind="getActorName(ma.ActorID)+', '" style="text-decoration:underline"></div>
                    <div data-ng-if="!ma.MainActor" data-ng-bind="getActorName(ma.ActorID)+', '"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label">Director:</label>
                <div data-ng-bind="getDirector(selectedMovie.Director)"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label">Genre:</label>
                <div data-ng-bind="getGenre(selectedMovie.Genre)"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label">Year:</label>
                <div data-ng-bind="selectedMovie.Year"></div>
            </div>
        </div>
    </div>
</div>