<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-ng-repeat="field in tableFields" data-ng-style="{'width':field.Width}">
                <a href="#" prevent-default data-ng-click="setSort(field.Title)" data-ng-bind="field.Title"></a>
                <span data-ng-if="sort.Name==field.Title" data-ng-class="{true:'ion-arrow-down-b text-danger',false:'ion-arrow-up-b text-success'}[sort.Desc]"
                      style="display: inline-block; margin-left: 3px"></span>
            </th>
            <th style="width: 76px;"> </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="movie in data.Movie | filter: tableFilter | orderBy: sort.Name : sort.Desc | pagination: pager.curr * pager.size | limitTo: pager.size"
            data-ng-mouseover="hoverMovieRow(movie.Id,true)" data-ng-mouseleave="hoverMovieRow(0,false)">
            <td data-ng-repeat="field in tableFields">
                <div data-ng-bind="movie.Id" data-ng-if="field.Title == '#'"></div>
                <div data-ng-bind="movie.Name" data-ng-if="field.Title == 'Name'"></div>
                <div data-ng-bind="movie.Year" data-ng-if="field.Title == 'Year'"></div>
                <div data-ng-bind="fitString(movie.Plot,50)" title="{{movie.Plot}}" data-ng-if="field.Title == 'Plot'"></div>
                <div data-ng-if="field.Title == 'Actors'">
                    <div data-ng-repeat="ma in data.MovieActor | filter:{MovieID: selectedMovie.Id}">
                        <div data-ng-bind="$last?getActorName(ma.ActorID) : getActorName(ma.ActorID)+' , '"></div>
                    </div>
                </div>
                <div data-ng-bind="getDirector(movie.Director)" data-ng-if="field.Title == 'Director'"></div>
                <div data-ng-bind="getGenre(movie.Genre)" data-ng-if="field.Title == 'Genre'"></div>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="width:25px">
                            <a href="" title="Rent it." prevent-default data-ng-show="hoverMovie==movie.Id" data-ng-click="rentMovie(movie.Id)" style="font-size:25px"
                               data-ng-if="isUserFreeToRent()">
                                <span class="ion-ios-download-outline text-primary"></span>
                            </a>
                        </td>
                        <td style="width:25px">
                            <a href="" title="Enter movie page." prevent-default data-ng-show="hoverMovie==movie.Id" data-ng-click="setMovie(movie.Id)" style="font-size:25px">
                                <span class="ion-arrow-expand text-primary"></span>
                            </a> 
                        </td>
                        <td style="width:25px">
                            <span title="Already rented." class="ion-ios-pricetag text-default" style="font-size:25px"
                                  data-ng-if="!isMovieFreeToBeRent(movie)"></span>
                        </td>
                    </tr>
                   
                </table>

            </td>
        </tr>
    </tbody>
</table>